apiVersion: v1
kind: ConfigMap
metadata:
  name: operator-inventory
  namespace: {{ .Values.namespace }}
  labels:
    subnet.node: "true"
    app.kubernetes.io/name: inventory
    app.kubernetes.io/instance: inventory-service
    app.kubernetes.io/component: operator
    app.kubernetes.io/part-of: provider
data:
  config.yaml: |
    version: {{ .Values.config.version }}
    cluster_storage:
{{- if .Values.config.cluster_storage }}
{{- range .Values.config.cluster_storage }}
      - {{ . }}
{{- end }}
{{- else }}
      - default
{{- end }}
    exclude:
      nodes:
{{- if .Values.config.exclude.nodes }}
{{- range .Values.config.exclude.nodes }}
        - {{ . }}
{{- end }}
{{- end }}
      node_storage:
{{- if .Values.config.exclude.node_storage }}
{{- range .Values.config.exclude.node_storage }}
        - {{ . }}
{{- end }}
{{- end }}

